<footer>
    <div>
        <a target="_blank" href="https://fidelotieno.netlify.app">
            <p class="text-sm">
                <span >Made with</span>
                <span class="emoji">&#10084;</span>
                <span >by Fidel</span>
            </p>
        </a>
    </div>
    <div>
        Copyright &copy; Bloggy 2020
    </div>
    
</footer>