<footer>
    <div>
        <p class="text-sm">
            <span >Made with</span>
            <span class="emoji">&#10084;</span>
            <span >by Fidel</span>
          </p>
    </div>
    <div>
        Copyright &copy; Bloggy 2020
    </div>
    
</footer>