<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This is a simple project to demonstrate the use of <span> EJS,</span> templates in a <span>Node.js,</span>  application.</p>
    <p>It is a blog application that allows users to create, read, update and delete blog posts.</p>
    <p>It also allows users to register and login to the application.</p>
    <p>It is built with <span>Node.js,</span> 
      <span> Express.js,</span><span> MongoDB,</span><span> Mongoose,</span><span> EJS,</span> 
       and <span> CSS.</span></p>
    <p>It is hosted on Heroku and the database is hosted on MongoDB Atlas.</p>
    <p>It is a project by <a about="_blank" href="https://fidelotieno.netlify.app">me.</a> You can view the repository on Github <a href="https://github.com/Fideltodayy/bloggy.git">here</a></p>
  </div>
  <%- include('./partials/footer.ejs') %>

</body>
</html>